<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="~/css/adminsite.css">

</head>
<body>
    <div id="header">

    </div>
    <div id="navigation">
        <ul>
            <li> <button type="button" id="LoginButton" onclick="loadView()">Login</button></li>
            <li> <button type="button" id="AboutButton" onclick="loadView('about')">About</button></li>
            <li> <button type="button" id="InformationButton" onclick="loadView('information')" style="display: none;">Admin Information</button></li>
            <li> <button type="button" id="UserButton" onclick="loadView('userlist')" style="display: none;">User List</button></li>
            <li> <button type="button" id="CreateButton" onclick="loadView('createuser')" style="display: none;">Create User</button></li>
            <li> <button type="button" id="EditButton" onclick="loadView('edituser')" style="display: none;">Edit User</button></li>
            <li> <button type="button" id="TransactionButton" onclick="loadView('transaction')" style="display: none;">Transaction</button></li>
            <li> <button type="button" id="LogoutButton" onclick="loadView('logout')" style="display: none;">Logout</button></li>
        </ul>
    </div>
    <div id="main">

    </div>
    <div id="footer">
        <p> Developed by CKL</p>
    </div>
    <script src="~/js/adminsite.js"></script>
    <script src="~/lib/jquery/dist/adminjquery.js"></script>
</body>
</html>