@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="TransferForm">
        <input type="text" id="SFrom" name="SUFrom" placeholder="From Id" />
        <input type="text" id="STo" name="SUTo" placeholder="To Id" />
        <input type="text" id="SAmount" name="SUAmount" placeholder="Amount" />
        <input type="text" id="SDescription" name="SUDescription" placeholder="Description" />
        <button type="button" id="TransferButton" onclick="performTransfer()">Transfer</button>

</div>