@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="InformationForm">
        <input type="text" id="SName" name="SUname" placeholder="User Name" />
        <input type="password" id="SPass" name="SPassword" placeholder="Password" />
        <input type="text" id="SEmail" name="SUEmail" placeholder="Email" />
        <input type="text" id="SPhone" name="SUPhone" placeholder="Phone Number" />
        <button type="button" id="UpdateButton" onclick="performUpdate()">Update</button>

    <script>
        function performUpdate() {
            // Assuming jQuery is available
            $.ajax({
                url: 'api/user/get/${accountNumber}', // Replace with your actual controller and action
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#SName').val(data.Name);
                    $('#SPass').val(data.Password);
                    $('#SEmail').val(data.Email);
                    $('#SPhone').val(data.Phone);
                },
                error: function () {
                    alert('Error fetching data');
                }
            });
        }
    </script>
</div>